<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("css/ol.css") }}" type="text/css">
            <link rel='stylesheet prefetch' href='{{ asset("css/bootstrap.min.css") }}'>
            <link rel='stylesheet prefetch' href='{{ asset("css/custom.css") }}'>
            <script src="{{ asset("js/ol.js") }}"></script>
            <script src="{{ asset("js/jquery.min.js") }}"></script>
            <script src="{{ asset("js/bootstrap.js") }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
    {% block menu %}
    {% endblock  %}
        {% block body %}{% endblock %}
    <script src="{{ asset("js/jquerysite.js") }}"></script>
    </body>
</html>
